.wrapper{
	width: 100%;
	margin-top: 100px;
	background: #fff;
	padding: 30px 0;
}

.slider-testimonial{
	width: 85%;
	max-width: 1400px;
	margin: auto;
}

.testimonial-client{
	margin-bottom: 15px;
}

.testimonial-client img{
	width: 120px;
	margin:auto;
}

.client-name{
	font-family: "Open sans";
	font-weight: 600;
	text-align: center;
}

.testimonial-text{
	padding: 10px 130px;
}

.testimonial-text p{
	font-family: "Open sans";
	font-size: 25px;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	color: #454545;
}
.our-team {
    
    text-align: center;
    margin-bottom: 20px;
}
.our-team .container--flex {
    padding-top: 20px;
   align-items: flex-start;
}
.our-team__title {
    font-family: 'Pacifico', cursive;
    color: #DE423A;
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 10px;
}
.our-team__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;  
}
.our-team__txt {
    padding: 10px;
}
@media screen and (min-width:480px) {
    .our-team__img {
        width: 150px;
        height: 150px;

    }
}
@media screen and (min-width:768px) {
    .our-team__img {
        width: 220px;
        height: 220px;

    }
}
@media screen and (min-width:1024px) {
    .our-team__img {
        width: 310px;
        height: 310px;
    }
    .our-team__title {
        font-size: 2.1;
    }
}
@media screen and (min-width:1600px) {
    .our-team__img {
        width: 420px;
        height: 420px;
    }
}
